.app-content {
     /*Remove or Change Min-height By Shubham*/
    //min-height: 612px;
    //margin-top: 70px;
}
.my-class
{
    margin: 0px -100px;
}
.container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
body{
    background-color: $lightestGrey;
}
html.md-default-theme, html, body.md-default-theme, body{
    background-color: $white;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
::-webkit-scrollbar {
    width: .5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 25px;
}
.feedback-form{  
    bottom: -30px;
    position: fixed;
    right: 1px;
    z-index:1000000;
    
    .btn.focus {
    color: $white !important;
    text-decoration: none;
    }
    .feedback-button-box{
       padding-right: 10px;
       // width: 60px;
    }
    .btn-success{
        padding: 9px 20px;
        border-radius: 0px;
        font-size: 13px;
        color: #FFF;
        text-transform: uppercase;
        margin-top: 15px;
        background: #7ac043;
        border: none;
    }
    .btn-feedback{ 
        color: $white;
        margin-bottom: 28px;
        background: none;
        border: 1px solid $feedbackBtn;
        background: #13445F;
        font-size: 18px;
        padding-left: 25px;
        padding-right: 25px;
/*        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);	   */
        z-index: 99999;
        border-radius: 0px;
        float: right;
        &:hover{
            color:$lightGrey;
        }
    }
    @media only screen and(max-width: 500px){
      .feedback-button-box{
        padding-right: 0px !important;
      }      
      .feedback-form-container{   
          margin-right: 0px !important;
          width: inherit !important;
      }
    }
    .feedback-form-container{   
        margin-right: 10px;
        color: black;
        padding: 20px;
        width: 80%;
        background: white;
        float: right;
        position: relative;
        z-index: 9999;
        top: -28px;
        border: 1px solid darkgrey;
        padding: 30px;
        /* margin: 10px; */
        display: none;
        transition: right 1s ease;
        -webkit-transition: right 1s ease;
        -moz-transition: right 1s ease;
        -ms-transition: right 1s ease;
        
    .mandatory-field{
        color:red;
    }
    .err-msg{
        color:red;
        font-size:11px;
    }
        .rating{
            font-size:22px;
        }
        .dimen-of-textarea{
            max-width:300px;
            max-height:100px;
        }

    }
   .md-input-label{
       //color:white !important;
   }
    md-input-container{
        margin:4px 0px;

    }
    .md-input{
        //color:white;
    }
    .md-select-value{
        //color:white;
        //font-weight:600;
    }
    md-select .md-select-value.md-select-placeholder {
        //color: white;
    }
    md-input-container.md-input-has-value label {
        //color:white;
    }
    .md-select-icon{
        color:white;
    }
}