.full-page-loader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 999999 !important;
  background:transparent;
  background-color:$black;
  opacity: .8;
  > div {
    position: relative;
    height: 100%;
    text-align: center;
    color: $white;
    > div {
      position: absolute;
      top: 45%;
      width: 100%;
    }
  }
}
.loading{
  font-size:30px;
}
