.content-wrapper.conference-startMeet
  .row
    .col-md-12
      .well.box-left
        .row
          .col-md-8.first-col-div
            .row
              h3.first-div-header OnDemand_Sample_Meeting_1hour_EST
            .row
              .col-md-1
                b| When:
              .col-md-offset-1.col-md-10
                p Today 2:40 pm(1 hr)
            .row
              .col-md-1
                b| Where:
              .col-md-offset-1.col-md-10
                p Ondemand Online Conference
            .row
              .col-md-1
                b| Host:
              .col-md-offset-1.col-md-10
                p Hosting Person Name
            .row.link-row
              .col-md-3
                a(href='javascript:void(0)') More Information
              .col-md-offset-5.col-md-4
                a(href='javascript:void(0)') Click Here
                |  for help and support
          .col-md-4.second-col-div
            .row
              .col-md-offset-4.col-md-8
                h4.second-div-header-1 Hey It's time to join
            .row
              .col-md-offset-5.col-md-7
                h3.second-div-header-2 Login
            .row
              .col-md-offset-5.col-md-7
                i.fa.fa-users.guest-icon(aria-hidden='true')
            .row
              .col-md-offset-5.col-md-7
                h4 Guest
            .row
              form
                .form-group.row
                  .col-md-offset-2.col-md-9
                    input.form-control(type='email', placeholder='Enter Email Address')
                .form-group.row
                  .col-md-offset-2.col-md-9
                    input.form-control(type='password', placeholder='Enter Password')
                .row
                  .col-md-offset-4.col-md-offset-8
                    button.btn.btn-primary.join-button(type='button') Login
            .row
              .col-md-offset-2.col-md-10
                h3.second-div-header-2 Don't have an account?
            .row
              .col-md-offset-3.col-md-9
                a(data-ui-sref='conference.conference-schedule') Sign up
                |  and Join the conference
    .row
      .col-md-offset-3.col-md-9
        | By joining this meeting,you agree to the OnDemand
        a.margin-left-7(href="#") Terms of service
        | &
        a.margin-left-7(href="#")  Privacy Statement




