.content-wrapper.conference-home
    .row.end-heading-position
        .col-xs-3
        .col-xs-6.alert.alert-success
            h3.end-heading Meeting is over thanks for your participation
        .col-xs-3