a.md-button.md-raised.savedata-btn(type='button', ng-click='liveNowInterviewCtrl.setLiveNowData();', uib-popover-template='liveNowInterviewCtrl.liveNow.templateUrl', popover-title='{{liveNowInterviewCtrl.liveNow.title}}', popover-animation='true', popover-placement='{{liveNowInterviewCtrl.liveNow.selected}}') Live Now
 