#modal-body.modal-body
  | Are you sure you want to submit?
.modal-footer
  button.btn.btn-primary(type='button', ng-click='$ctrl.ok()') OK
  button.btn.btn-warning(type='button', ng-click='$ctrl.cancel()') Cancel
