.content-wrapper.multi-apply-container
  .row
    .col-md-12
      .video-intro-heading
        span.video-intro-1(data-translate='CERTIFICATE-RESULT')
  .panel.panel-default.multiple-apply-panel
    .header-text
      span.header-note You have successfully completed your certification.
    .panel-body
      .col-md-12.select-all-lebel
        table.table
          tr
            th Total question
            th Question attempted
            th Question skipped
          tr
            td {{CertificateExitCtrl.certificationResult.totalNoOfQuestions}}
            td {{CertificateExitCtrl.certificationResult.totalNoOfQuestionsAnswered}}
            td {{CertificateExitCtrl.certificationResult.totalNoOfQuestionsUnanswered}}
    .panel-footer
      .text-right
        a.btn.btn-primary(data-ui-sref='candidateProfile.certification') Go back to certification list
      .clear-both
