.content-wrapper
  .col-md-12
    nav.navbar.navbar-default(role='navigation')
      // Collection of nav links and other content for toggling
      div
        ul.nav.navbar-nav
          li.instruction-menu
            a.active(href='#')
              | 1.Welcome
              i.fa.fa-angle-double-right(aria-hidden='true')
          li.instruction-menu
            a(href='#')
              | 2.Prepare & Practice
              i.fa.fa-angle-double-right(aria-hidden='true')
          li.instruction-menu
            a(href='#')
              | 3.Test
              i.fa.fa-angle-double-right(aria-hidden='true')
    .col-md-12
      .col-md-6
        .main-body-wrapper
          .default-form-instruction
            .col-md-12
              .upper-form-wrapper
                h3 Hi michel !!!
                p  >> Enables companies to hire talent which performs on the job.
                p  >> Enhance your profile by taking certification
                p
                  | >> This certification differentiates candidates in the marketplace by providing a competitive edge through proven expertise
                p  >> Immediate test results
      .col-md-6
        .main-body-wrapper
          .default-form-instruction
            .col-md-12
              .upper-form-wrapper
                h3 Instruction
                ul
                  li  Total number of questions : 20.
                  li  Time alloted : 30 minutes.
                  li  Each question carry 1 mark, no negative marks.
                  li  DO NOT refresh the page.
                  li  All the best :-).
                p Watch a Video
                p
                  a(href='') www.watchvedio.com
                p Watch Best Practices
                p
                  a(href='') www.watchvedio.com
        .save-cancel-btns
          a.btn-green(data-ui-sref='candidateProfile.certification-instruction') Next
