.modal-header

.modal-body
    As you moved out of the window, your test was submitted.
.modal-footer
    button.btn.btn-primary.add-field-button(type='button', ng-click='infoModalCtrl.ok()') Leave Page