.content-wrapper.interview-request-container
  .row
    .col-md-12.col-xs-12.cl-ms-12
      .video-intro-heading
        span.video-intro-1(data-translate='INTERVIEW-REQUEST')
  .panel.panel-default
    .panel-body.mobile-panel
      .row
        .col-sm-4.col-md-4.col-xs-12.showMe(ng-hide="$root.mobile")
          select(class="selectpicker" ng-model="interviewRequestController.test" ng-change="interviewRequestController.toggle()")
            option(ng-model="col.show" value="{{$index}}" ng-repeat="col in interviewRequestController.cols.slice(1,interviewRequestController.cols.length) track by $index") {{col.title()}}
        .col-md-12.col-sm-12.col-xs-12
          p.text-label(ng-hide='interviewRequestController.interviewRequestList.length < 1') Showing 
            span
              strong 1-{{interviewRequestController.interviewRequestList.length}}
              |  of  
              strong
               {{interviewRequestController.interviewRequestListCount}} 
              |  records 
             
        .col-md-12.col-sm-12.interview-table-position.hidden-xs
            .row(data-ng-show="interviewRequestController.interviewRequestListCount > 0")
                table.table(ng-table='interviewRequestController.interviewRequestTableParams', ng-table-columns-binding="interviewRequestController.cols")
                  tr(ng-repeat='interviews in $data')
                    td(ng-if="true" class='col-sm-2' data-title="'Employer'",ng-data='interviews.userName') {{interviews.companyName}}
                    td(ng-if="true" class='col-sm-2' data-title="'Position Name'",ng-data='interviews.positionName') {{interviews.positionName}}
                    td(ng-if="true" class='col-sm-2' data-title="'Interview Type'", ng-data='interviews.interviewType')
                        span {{interviews.interviewName}} 
                        span.interview-type-spn ({{interviews.interviewType}})
                    td(ng-if="true" class='col-sm-2' data-title="'Start Date'", ng-data='interviews.interviewFromDate')
                         span {{interviews.interviewFromDate}}                                              
                         //span(countdown-timer='', date='interviews.interviewFromDate +" "+ interviews.interviewFromTime')
                         br
                         small(data-ng-if='interviews.interviewTypeId == 1') {{interviews.liveSlot}}
                         small(data-ng-if='interviews.interviewTypeId == 4') {{interviews.liveNowSlot}}
                    td(ng-if="true" class='col-sm-2' data-title="'Expiry Date'",  ng-data='interviews.interviewExpiryDate')
                         span(data-ng-if='interviews.interviewExpiryDate !== "0000-00-00" && interviews.interviewExpiryDate !== "1970-01-01" && interviews.interviewExpiryDate !== "1971-01-01" && interviews.interviewTypeId == 3') {{interviews.interviewExpiryDate}}
                         span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 1') {{interviews.interviewToDate}}
                         span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 2') {{interviews.interviewToDate}}
                         span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 4') {{interviews.interviewToDate}}
                    td(ng-if="true" class='col-sm-2'  data-title="'Status'", ng-data='interviews.candidateInterviewStatusName')
                      span.status-text {{interviews.candidateInterviewStatusName}}
                    td(ng-if="true" class='col-sm-2'  data-title="'Action'")
                      .action-div                        
                        i.fa.fa-caret-square-o-right.start-i(title='Click Here To Start Interview' aria-label='startNow', data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 3', data-ng-click='interviewRequestController.startInterview(interviews)')
                        i.fa.fa-caret-square-o-right.start-i(title='Click Here To Start Interview' aria-label='startNow', data-ng-if='interviews.isSlotBooked && !interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 1', data-ng-click='interviewRequestController.startInterview(interviews)')
                        a(title='Click Here To Reschedule Interview' href='{{interviews.rescheduleUrl}}', target="_blank" data-ng-if='interviews.isSlotBooked && !interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 1')  
                          i.fa.fa-pencil-square-o.reschedule-i(aria-hidden='true' data-ng-if='interviews.isSlotBooked && !interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 1')
                        i.fa.fa-caret-square-o-right.start-i(title='Click Here To Start Interview' aria-label='startNow', data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.interviewTypeId === 4', data-ng-click='interviewRequestController.startInterview(interviews)')                      
                        a(title='Click Here To Book a Slot' data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && !interviews.isSlotBooked && interviews.interviewTypeId == 1', href='{{interviews.interviewUrl}}', target="_blank")
                          i.fa.fa-calendar-plus-o.book-a-slot-i
                        a(title='Click Here To Book a Slot' data-ng-if='!interviews.isSlotBooked && interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.interviewTypeId == 1', data-ng-click='interviewRequestController.startInterview(interviews)', disabled="disabled")
                          i.fa.fa-calendar-plus-o.book-a-slot-i
                        md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='interviews.isSlotBooked && interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.interviewTypeId == 1', data-ng-click='interviewRequestController.startInterview(interviews)', disabled="disabled")
                          span(data-translate='START-NOW')
                        span(data-ng-if='!interviews.isInterviewCompleted && interviews.isCandidateInterviewCompleted')
                          i.fa.fa-check-square-o.status-completed(title='{{interviews.candidateInterviewStatusName}}' aria-hidden='true')  
                        span(data-ng-if='interviews.isInterviewCompleted && interviews.isCandidateInterviewCompleted')
                          i.fa.fa-check-square-o.status-completed(aria-hidden='true')  
              .row.alert.alert-warning.set-margin(data-ng-show="interviewRequestController.interviewRequestListCount == 0")
                .col-md-12
                | No Interview Request Found

        .col-xs-12.hidden-lg.hidden-md.hidden-sm.md-card-interviewReq
          .row(data-ng-show="interviewRequestController.interviewRequestListCount > 0")
            table.table-responsive(ng-table='interviewRequestController.interviewRequestTableParams', ng-table-columns-binding="interviewRequestController.cols")
              tr(ng-repeat='interviews in $data')
                td(data="interviews")
                  md-card.interview-card
                    md-card-title
                      md-card-title-text
                        span.md-headline Employer : {{interviews.companyName}}
                        span.md-subhead Position Name : {{interviews.positionName}}
                        span.md-subhead Interview Type:  {{interviews.interviewType}}
                        span.md-subhead Start Date :
                          span {{interviews.interviewFromDate}}
                          br
                          span(data-ng-if='interviews.interviewTypeId == 1') {{interviews.liveSlot}}
                          span(data-ng-if='interviews.interviewTypeId == 4') {{interviews.liveNowSlot}}
                        span.md-subhead End Date :
                           span(data-ng-if='interviews.interviewExpiryDate !== "0000-00-00" && interviews.interviewExpiryDate !== "1970-01-01" && interviews.interviewExpiryDate !== "1971-01-01" && interviews.interviewTypeId == 3') {{interviews.interviewExpiryDate}}
                           span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 1') {{interviews.interviewToDate}}
                           span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 2') {{interviews.interviewToDate}}
                           span(data-ng-if='interviews.interviewToDate !== "0000-00-00" && interviews.interviewToDate !== "1970-01-01" && interviews.interviewToDate !== "1971-01-01" && interviews.interviewTypeId === 4') {{interviews.interviewToDate}}
                        span.md-subhead Status :
                          span.status-text {{interviews.candidateInterviewStatusName}}
                    md-card-actions
                      md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 3', data-ng-click='interviewRequestController.startInterview(interviews)')
                        span(data-translate='START-NOW')
                      md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='interviews.isSlotBooked && !interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 6 && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.candidateInterviewStatus !== 23 && interviews.interviewTypeId === 1', data-ng-click='interviewRequestController.startInterview(interviews)')
                        span(data-translate='START-NOW')
                      md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.candidateInterviewStatus !== 11 && interviews.candidateInterviewStatus !== 12 && interviews.candidateInterviewStatus !== 14 && interviews.interviewTypeId === 4', data-ng-click='interviewRequestController.startInterview(interviews)')
                        span(data-translate='START-NOW')
                      md-button.md-raised.md-primary(aria-label='bookNow',data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && !interviews.isSlotBooked && interviews.interviewTypeId == 1 && $root.mobile', data-ng-click='interviewRequestController.launchUrlMobile(interviews.interviewUrl)')
                        span(data-translate='BOOK-NOW')
                      md-button.md-raised.md-primary(aria-label='bookNow',data-ng-if='!interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && !interviews.isSlotBooked && interviews.interviewTypeId == 1 && !$root.mobile', href='{{interviews.interviewUrl}}', target="_blank")
                        span(data-translate='BOOK-NOW')
                      md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='!interviews.isSlotBooked && interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.interviewTypeId == 1', data-ng-click='interviewRequestController.startInterview(interviews)', disabled="disabled")
                        span(data-translate='BOOK-NOW')
                      md-button.md-raised.md-primary(aria-label='startNow',data-ng-if='interviews.isSlotBooked && interviews.isInterviewCompleted && !interviews.isCandidateInterviewCompleted && interviews.interviewTypeId == 1', data-ng-click='interviewRequestController.startInterview(interviews)', disabled="disabled")
                        span(data-translate='START-NOW')
                        
                      span(data-ng-if='!interviews.isInterviewCompleted && interviews.isCandidateInterviewCompleted')
                        i.fa.fa-check-square-o.status-completed(aria-hidden='true')   Completed
                      span(data-ng-if='interviews.isInterviewCompleted && interviews.isCandidateInterviewCompleted')
                        i.fa.fa-check-square-o.status-completed(aria-hidden='true')   Completed

            .row.alert.alert-warning.set-margin(data-ng-show="interviewRequestController.interviewRequestListCount == 0")
                .col-md-12
                | No Interview Request Found
