.content-wrapper
  .row
    .col-md-12
      .video-intro-heading
        span.video-intro-1 Job Description
  .panel.panel-default
    .panel-body
      .row
        .col-md-6
          | Position Name
        .col-md-6
          | Javascript Developer
      hr
      .row
        .col-md-6
          | Position Code
        .col-md-6
          | JS-Dev-001
      hr
      .row
        .col-md-6
          | Position Expiry Date
        .col-md-6
          | 08-22-2017
      hr
      .row
        .col-md-6
          | Required Skills
        .col-md-6
          | Javascipt,Angular js,Html
      hr
      .row
        .col-md-6
          | Location
        .col-md-6
          | Banglore
      hr
      .row
        .col-md-6
          | Experience(in years)
        .col-md-6
          | 3
      hr
      .row
        .col-md-6
          | Position Description
        .col-md-6
          | You will be responsible for...
      hr
      .row
        .col-md-6
          | Other Skills
        .col-md-6
          | ECMA 6
      hr
      .row
        .col-md-6
          | Insight Rating
        .col-md-6
          | ---------
      hr
      .row
        .col-md-6
          | Advance Criteria
        .col-md-6
          |-----------
      hr
      button.btn.btn-primary(type='button') Apply