.content-wrapper.practice-video-contanier
 .video-intro-heading
    span.video-intro-1(data-translate='PRACTICE-VIDEO-QUESTION')
 .panel-body
    //a.btn.btn-primary.record-video(data-ui-sref='ci.test-instruction' data-translate='START-NOW')
    md-button.md-raised.md-primary.record-video(aria-label='startNow',data-ng-click='practiceVideoCtrl.startTest()' data-translate='START-NOW')
