.modal-header

.modal-body
    If you move away from page, test would get submitted.
.modal-footer
    button.btn.btn-warning.add-field-button(type='button', ng-click='warningModalCtrl.cancel()') Stay On Page
    button.btn.btn-primary.add-field-button(type='button', ng-click='warningModalCtrl.ok()') Leave Page