.email-confirmation-page {
   
     min-height:600px;
  
    .email-confirm-message {
    color: $darkGrey;
    font-style: normal;
    text-align: center;
    font-size: $font-size-large;
    a {
      color: $white;
    }
  }

  .confirm-icon {
    color: $mediumBlue;
    font-size: 200px;
    margin-left: 461px;
  }

  .confirm-icon-aero {
    margin-left: 70px;
    color: $mediumBlue;
    margin-top: -100px;
    font-size: 200px;
  }

  .btn-email-resend {
    background-color: $lightRed !important;
    margin-top: 9px;
    font-family: $font-family;
    font-size: $font-size-medium;
    padding: 7px;
    border-radius: $global-radius;
  }

  .btn-email-resend:hover {
    opacity: 0.9;
  }
  
  .loader-position{
      margin-top: 190px;
      font-size: 30px;
  }
}