#product-plan-container.content-wrapper.payment-plan
  .video-intro-heading
    span.video-intro-1 Payment
    md-button.md-raised.md-primary.cipher-margin.pull-right(ng-click='AdminConfirmationCtrl.backToAdminPayment()') Back
  .panel-body
      .row
        .panel.panel-default
          .panel-heading
            .confrence-heading(ng-bind='AdminConfirmationCtrl.plans.productName')
          .panel-body
            .row
                .alert.alert-danger(data-ng-if="AdminConfirmationCtrl.showRenewalWarning && AdminConfirmationCtrl.plans.planName !== 'FREE'") You have already subscribed to this plan, Are you sure you want to make payments again?
            .row
                .col-md-12 
                    h4 You have selected {{AdminConfirmationCtrl.plans.planName}} plan for {{AdminConfirmationCtrl.plans.productName}}, Please review the features and continue to subscribe
            .row(ng-if='AdminConfirmationCtrl.plans.productName == "Interview"')
              .table-responsive
                .col-md-1
                .col-md-5.plan-detalis
                  ul.list-group
                    li.list-group-item.plan-details-heading
                      | Plan Details                    
                    li.list-group-item
                      | Users
                    li.list-group-item
                      | Positions
                    li.list-group-item
                      | Interview In Each Position
                    li.list-group-item
                      | Candidates
                    li.list-group-item
                      | Storage
                    li.list-group-item
                      | Duration
                    li.list-group-item
                      | Registration & Fee
                    li.list-group-item
                      | Plan Expiry Date
                .col-md-5.my-payment-plan
                  ul.list-group
                    li.list-group-item.plan-heading.select-heading
                      h4 {{AdminConfirmationCtrl.plans.planName}}
                      h5.price-color ${{AdminConfirmationCtrl.plans.price}}                    
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfUsers}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfPosition}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfInterviewInEachPosition}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfCandidate}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.totalStorage}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.validity}}                    
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.registrationAndFee}}
                    li.list-group-item
                      span(ng-if='AdminConfirmationCtrl.plans.companyPlanDetail[0].planExpireDate') {{AdminConfirmationCtrl.plans.companyPlanDetail[0].planExpireDate}}
                      span(ng-if='!AdminConfirmationCtrl.plans.companyPlanDetail[0].planExpireDate') NA
                .col-md-1
              .panel-footer
                button.btn.btn-primary.btn-block.btn-block_0(ng-if='AdminConfirmationCtrl.plans.planName === "FREE"', data-translate='GET-NOW', data-ng-click='AdminConfirmationCtrl.getTrial(AdminConfirmationCtrl.planId)')
                button.btn.btn-primary.btn-block.btn-block_0(ng-if='AdminConfirmationCtrl.plans.planName !== "FREE"', data-translate='CONTINUE-TO-PAYMENT', type='button', ng-click='AdminConfirmationCtrl.getCardDetail()', data-toggle="modal", data-target="#productPaymentModal")
            .row(ng-if='AdminConfirmationCtrl.plans.productName === "Conference"')
              .table-responsive
                .col-md-1
                .col-md-5.plan-detalis
                  ul.list-group
                    li.list-group-item.plan-details-heading
                      | Plan Details                    
                    li.list-group-item
                      | Users
                    li.list-group-item
                      | Meetings
                    li.list-group-item
                      | No of participants(per meeting)
                    li.list-group-item
                      | Recording
                    li.list-group-item
                      | Storage
                    li.list-group-item
                      | Duration
                    li.list-group-item
                      | Registration & Fee
                    li.list-group-item
                      | Plan Expiry Date
                .col-md-5.my-payment-plan
                  ul.list-group
                    li.list-group-item.plan-heading.select-heading
                      h4 {{AdminConfirmationCtrl.plans.planName}}
                      h5.price-color ${{AdminConfirmationCtrl.plans.price}}                    
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfUsers}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfMeetings}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.noOfParticipantsInConfrence}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.recording}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.totalStorage}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.validity}}                    
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.registrationAndFee}}
                    li.list-group-item
                      | {{AdminConfirmationCtrl.plans.companyPlanDetail[0].planExpireDate}}
                .col-md-1
              .panel-footer
                button.btn.btn-primary.btn-block.btn-block_0(ng-if='AdminConfirmationCtrl.plans.planName === "FREE"', data-translate='GET-NOW', data-ng-click='AdminConfirmationCtrl.getTrial(AdminConfirmationCtrl.planId)')
                button.btn.btn-primary.btn-block.btn-block_0(ng-if='AdminConfirmationCtrl.plans.planName !== "FREE"', data-translate='CONTINUE-TO-PAYMENT', type='button', ng-click='AdminConfirmationCtrl.getCardDetail()', data-toggle="modal", data-target="#productPaymentModal")
#payment-product-iframe  
#productPaymentModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header.header-modal-tc
        button.close(type='button', data-dismiss='modal') ×
        h3.modal-title Purchase Plan
      .modal-body
       p(ng-if='AdminConfirmationCtrl.cardDetails.status')
        | you will be charged {{AdminConfirmationCtrl.plans.price | currency}} from the card ending with {{AdminConfirmationCtrl.cardDetails.cardLast4digit}}
       p
        a(href='javascript:void(0);', ng-if='AdminConfirmationCtrl.cardDetails.status', ng-click='AdminConfirmationCtrl.updateCardDetails()', data-dismiss='modal')  Click here
        span(ng-if='AdminConfirmationCtrl.cardDetails.status')  to update the card information
       p(ng-if='!AdminConfirmationCtrl.cardDetails.status')
        | you will be charged {{AdminConfirmationCtrl.plans.price | currency}}, click OK to continue
      .modal-footer
        md-button.md-raised.md-primary(type='button', ng-click='AdminConfirmationCtrl.goToPayment()', data-dismiss='modal') OK
        md-button.md-raised.md-primary(type='button', data-dismiss='modal') Cancel



