.content-wrapper.custom-question-setting
    .video-intro-heading
      span.video-intro-1 Custom-Question
      span.pull-right
        button.btn.btn-success.header-button(data-toggle='modal', data-target='#myModal', data-translate='ADD-QUE')
      span.pull-right  
      span.pull-right
        button.btn.btn-success.header-button(data-toggle='modal', data-target='#myModal', data-translate='ADD-NEW-TEMPLATE')
    .panel-body
      .row
        .col-md-12.col-xs-12.col-sm-12
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#customQuestion', data-translate='CUSTOM-QUE')
            li
              a(href='#template', data-toggle='tab', data-translate='TEMPLATE')
          .tab-content
            #customQuestion.tab-pane.fade.in.active
              .panel-body
                .row
                  .col-md-12.col-xs-12.col-sm-12
                    .row-content
                      .col-md-10.col-xs-9.col-sm-10
                        div How do you see you past experience setting you up for success?
                      .col-md-2.col-xs-3.col-sm-2
                        i.fa.fa-pencil.fa-lg
                        i.fa.fa-eye.fa-lg
                        i.fa.fa-times.fa-lg
                    .row-content
                      .col-md-10.col-xs-9.col-sm-10
                        div What do you know about the type of work we do?
                      .col-md-2.col-xs-3.col-sm-2
                        i.fa.fa-pencil.fa-lg
                        i.fa.fa-eye.fa-lg
                        i.fa.fa-times.fa-lg
                    .row-content
                      .col-md-10.col-xs-9.col-sm-10
                        div Why Us?
                      .col-md-2.col-xs-3.col-sm-2
                        i.fa.fa-pencil.fa-lg
                        i.fa.fa-eye.fa-lg
                        i.fa.fa-times.fa-lg
            #template.tab-pane.fade
              .panel-body
                .row-content
                  a(data-toggle='collapse', href='#collapse2')
                    span(data-translate='SCSS-TEMPLATE')
                  span.pull-right
                    i.fa.fa-pencil.fa-lg
                    i.fa.fa-times.fa-lg
                #collapse2.panel-collapse.collapse.template-panel
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div How do you see you past experience setting you up for success?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div What do you know about the type of work we do?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div Why Us?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                .row-content
                  a(data-toggle='collapse', href='#collapse3')
                    span(data-translate='SCSS-TEMPLATE')
                  span.pull-right
                    i.fa.fa-pencil.fa-lg
                    i.fa.fa-times.fa-lg
                #collapse3.panel-collapse.collapse.template-panel
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div How do you see you past experience setting you up for success?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div What do you know about the type of work we do?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div Why Us?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                .row-content
                  a(data-toggle='collapse', href='#collapse4')
                    span(data-translate='SCSS-TEMPLATE')
                  span.pull-right
                    i.fa.fa-pencil.fa-lg
                    i.fa.fa-times.fa-lg
                #collapse4.panel-collapse.collapse.template-panel
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div How do you see you past experience setting you up for success?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div What do you know about the type of work we do?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div Why Us?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                .row-content
                  a(data-toggle='collapse', href='#collapse5')
                    span(data-translate='SCSS-TEMPLATE')
                  span.pull-right
                    i.fa.fa-pencil.fa-lg
                    i.fa.fa-times.fa-lg
                #collapse5.panel-collapse.collapse.template-panel
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div How do you see you past experience setting you up for success?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div What do you know about the type of work we do?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
                  .row-content
                    .col-md-10.col-xs-9.col-sm-10
                      div Why Us?
                    .col-md-2.col-xs-3.col-sm-2
                      i.fa.fa-times.fa-lg
