.company-profile
    .video-intro-heading
        span.video-intro-1(data-translate="ADMIN-REPORTING-TITLE")
    .panel-body
      ul.list-group
          li.list-group-item
            a(href='javascript:void(0)',data-translate="USER-ACTIVITY-LINK")
          li.list-group-item
            a(href='javascript:void(0)',data-translate="LIVE-ACTIVITY-LINK")
          li.list-group-item
            a(href='javascript:void(0)',data-translate="CANDIDATE-TRACKING-LINK")
          li.list-group-item
            a(href='javascript:void(0)',data-translate="POSITION-STATE-LINK")
          li.list-group-item
            a(href='javascript:void(0)',data-translate="RESOURCES-SAVED-LINK")
          li.list-group-item.list-footer-reporting
            a(href='javascript:void(0)',data-translate="TRACK-BY-ZIPCODE-LINK")
              