.content-wrapper.forget-password-page
  .col-md-12
    .main-body-wrapper
      .row
        br
        .container.container-border
          .row
            .col-md-4.col-md-offset-4
              .panel.panel-default(data-ng-hide='forgetPasswordCtrl.isMailSent')
                .panel-body
                  
                  h3
                    i.fa.fa-lock.fa-4x.pwd-icon
                  h2.forget-text Forgot Password?
                  p.forget-text You can reset your password here.
                  .panel-body 
                    form.form                  
                      .form-group
                        md-input-container.md-block(flex="100") 
                          label Email              
                          input(type='text', name='email', ng-model='forgetPasswordCtrl.email', data-ng-blur='forgetPasswordCtrl.isInvalidEmail(forgetPasswordCtrl.email)',  data-ng-keyup="forgetPasswordCtrl.isInvalidEmail(forgetPasswordCtrl.email)", required)
                          span.error-msg-forget(data-ng-if='forgetPasswordCtrl.errormessage !== ""') {{forgetPasswordCtrl.errormessage}}
                      .alert.alert-danger(data-ng-if='forgetPasswordCtrl.isShowError') User Id Not Found
                      .form-group
                        md-button.md-raised.md-primary.btn-block.submit-button(type='submit', data-ng-click='forgetPasswordCtrl.forgetPassword(forgetPasswordCtrl.email)', data-translate='SUBMIT') Send My Password
                      a.login-link(data-ui-sref='app.user-login') Click Here To Login
              .panel.panel-default(data-ng-show='forgetPasswordCtrl.isMailSent')
                .panel-body
                    i.fa.fa-paper-plane.fa-3x.email-sent-icon(aria-hidden='true')
                    h4 An email has been sent to your mail id.
                    h4 Please check you email to reset the password.
