.reset-password-page
    .col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6.col-xs-12.fp-form-panel
      .panel.panel-primary.reset-pass-panel
        .panel-heading.reset-psw-panel(data-translate='RESET-PW')
        .panel-body.body-margin
          form.reset-password-form(name='resetPasswordCtrl.resetPasswordForm')
            div(layout-margin='')
              md-input-container.md-block(flex="100")
                label New Password
                input(type="password", name="password", data-ng-model="resetPasswordCtrl.user.password", maxlength="15",minlength="6", data-ng-blur='resetPasswordCtrl.analyzeResetPassword(resetPasswordCtrl.user.password)', data-ng-keypress="resetPasswordCtrl.analyzeResetPassword(resetPasswordCtrl.user.password)", data-ng-keyup="resetPasswordCtrl.analyzeResetPassword(resetPasswordCtrl.user.password)",ng-change="resetPasswordCtrl.analyzePasswordEquality()", required="")
                span.requiremessage(data-ng-show='resetPasswordCtrl.resetPasswordForm.$submitted || resetPasswordCtrl.resetPasswordForm.password.$touched')
                  span(data-ng-show='resetPasswordCtrl.resetPasswordForm.password.$dirty && resetPasswordCtrl.resetPasswordForm.password.$invalid')
                  span.requiremessage(data-ng-show='resetPasswordCtrl.resetPasswordForm.password.$error.required') Please Enter Password.
                  span.error-msg(data-ng-if='!resetPasswordCtrl.isPasswordRight') Password Should Contain Atleast 6 And Maximum 15 Characters That Contains At Least One Lowercase And One Uppercase Character And One Special Character And One Number.
              md-input-container.md-block(flex="100")
                label Confirm Password
                input(type='password', name='confirmPassword',maxlength="15", data-ng-model='resetPasswordCtrl.user.confirmPassword',data-ng-keyup='resetPasswordCtrl.analyzePasswordEquality()', required='')
                span.requiremessage(data-ng-show='resetPasswordCtrl.resetPasswordForm.$submitted || resetPasswordCtrl.resetPasswordForm.confirmPassword.$touched')
                  span(data-ng-show='resetPasswordCtrl.resetPasswordForm.confirmPassword.$dirty && resetPasswordCtrl.resetPasswordForm.confirmPassword.$invalid')
                  span.requiremessage(ng-show='resetPasswordCtrl.resetPasswordForm.confirmPassword.$error.required',data-translate='PLS-CNF-PW')
                span.requiremessage(ng-show='!resetPasswordCtrl.resetPasswordForm.confirmPassword.$error.required && resetPasswordCtrl.passwordMismatch && resetPasswordCtrl.resetPasswordForm.password.$dirty', data-translate='PW-NOT-MATCH')
                span.requiremessage {{resetPasswordCtrl.message}}
            .row.form-group
              .col-xs-12.col-sm-3.col-md-2
                // button.btn.btn-primary(type='submit' data-ng-click="resetPasswordCtrl.resetPassword(form)") Submit
                md-button.md-raised.md-primary.submit-btn-reset-pass(type='button', data-ng-click='resetPasswordCtrl.resetPassword(resetPasswordCtrl.user)', data-translate='SUBMIT')
              .col-xs-12.col-sm-5.col-md-5
                  .errormessage(data-translate='{{resetPasswordCtrl.errorTranslationKey}}')
            .col-md-12
              .col-md-8.col-sm-8.col-xs-12
                span.mandatory-star-note
                 b Note :
                span.note-mandatory
                 |  Fields Marks With Asterisk (
                span.red-star  *
                span.note-mandatory
                 |   ) Are Mandatory.
              .col-md-4.col-sm-4.col-xs-12
                a(data-ui-sref='app.user-login') Click Here To Login
