.certification-question{

  .candidate-profile{
    margin-top:85px;
  }

  .legend{
    margin-top: 5px;
  }
  
  
}
@media only screen and (max-width: 766px) {
    .mobile-margin {
     margin-top: -45px !important;
    }
  }