.forget-password-page {
  //text-align: center;
  margin-top: 20px;

  .pwd-icon{
    margin-left:125px;
  }

  .forget-text{
    text-align:center;
  }

  .login-link{
    margin-left:85px;
  }

  .email-sent-icon{
    margin-left:120px;
  }
  .container-border{
    box-shadow:none !important;
  }
  .error-btn{
        padding: 10px;
    margin: 0px 150px;
    }
  .forget-pw-head {
    .inner-addon {
      position: relative;
    }

    .inner-addon > input {
      padding-left: 30px;
      margin-bottom: 10px;
      width: 400px;
    }
      
    .requiremessage {
        margin:5px;
        color: red;
        font-size: 12px;
      }
    .error-msg{
      color: red;
      font-size: 11px;
    }
      
    .inner-addon > i {
      position: absolute;
      padding: 10px 12px;
      pointer-events: none;
    }
  }
  .submit-button {
    margin: 0px;
  }
}

.error-msg-forget{
  color: red;
  font-size: 11px;
  float: left;
  margin: 6px;
}
