.reset-password-page {
    padding-top: 60px;
    //width: 720px !important;
    box-shadow:none !important;

  .fp-form-panel{
    margin-top: 50px;

  }
    .errormessage {
      margin-top: 10px;
      color: $red;
    }

    .error-msg{
    color: red;
    font-size: 11px;
  }
    .requiremessage {
      color: $red;
      font-weight: bold;
      font-size:11px;
    }
    
    input {
      margin-bottom: 10px;
    }
    
    .body-margin{
      padding-top: 35px;
    }

  .reset-pass-panel{
    border-radius:0px;
  }
  .submit-btn-reset-pass{
    margin-left:27px;
  }
  .mandatory-field{
  color:$red;
  }
  .mandatory-star-note{
      margin-left:-15px;
      font-size: 12px;
  }
  
  .note-mandatory{
      font-size: 12px;
      color:grey;
  }  
  .red-star{
    color:red !important;  
  }
  .reset-psw-panel{
    border-radius:0px;
    background-color: #3f51b5;
  }
}