.candidate-credentials-super-admin{

    .candidate-credentials{
        font-size:$font-size-large;
        width:100%;
        border-bottom:1px solid $lightGrey;
        margin-bottom: 15px;
        margin-left: -14px;
        padding: 0px 10px 5px 10px;
        
        .candidate-credentials-heading{
        margin-left:10px;
        text-transform: uppercase;
        color:#333;
        }
    }
    .dashboard-profile-heading{
        padding: 6px;
        // background: linear-gradient(to bottom, $navColor 0%, $navDarkColor 46%, $navDarkColor 46%, $navDarkerColor 100%) !important;
        color: #fff;
        font-size: 18px !important;
        background: #3f51b5 !important;
    }
    .error-msg{
        font-size: 11px !important;
        color: #ed1c24;
    }

    .client-icon-btn {
        background: transparent !important;
        border: none !important;
        cursor: pointer;
        text-align: center;
    }

}



    

