.test-instruction-header
  h4 Interview Instructions    
.content-wrapper.view-profile-page.test-instruction-style
    
    .row
      .col-xs-12
          center
              h4(style="color:red;") Please Read The Instructions Carefully
    hr
    .row
        .col-xs-1
        .col-xs-11
            h4.instruction-head General Instructions:
    .row
        .col-xs-2
        .col-xs-9
            ul.style-of-list
                li.instruction-text We recommend you not to Minimize/Refresh/Close in the actual test else you will not be eligible to take interview again.
                li.instruction-text We recommend you to go for practice test before start of actual test.
                li.instruction-text After clicking on the 'Start Button' the actual test time will begin.
                li.instruction-text Please check your internet connectivity before start of test.
                li.instruction-text The clock will be set at the server.The count down timer in the top left of corner of screen will display the remaining time available for you to complete the examination.When the timer reaches zero, the examination end by itself.You will not be required to end or submit your examination.
                //li.instruction-text The Question palette displayed on the right side of the screen will show the status of each question using one of the following symbols:
                li.instruction-text There are 10 questions and each question is followed by 4 alternatives/ options.
    .row
        .col-xs-1
        .col-xs-11
            h4.instruction-head Test Insights:
    .row    
        .col-xs-2
        .col-xs-9
            ul.style-of-list
                li.instruction-text  Number of total questions with its type going to come in the interview will be displayed on the welcome screen appear before start of interview.
                li.instruction-text  Question will be displayed with question number and timer on top.
                li.instruction-text  Question types can appear in the interview: MCQ, MSQ, Text, Video, and Audio.
    .row
        .col-xs-1
        .col-xs-11
            h4.instruction-head For Video Questions:
    .row    
        .col-xs-2
        .col-xs-9
            ul.style-of-list
                li.instruction-text  
                    b No of retries :– 
                    span To select your answer, click on the button of one of the options.                
                li.instruction-text  
                    b Time to prepare :–
                    span To change your choosen option, click on the button of another option.
                li.instruction-text 
                    b Response Time :– 
                    span To save your answer, You must click on the Save & Next button.   
                li.instrunction-text
                    b Finish :–  
                    span to save your response for the question
    .row
        .col-xs-1
        .col-xs-11
            h4.instruction-head Answering MCQ’s:
    .row    
        .col-xs-2
        .col-xs-9
            ul.style-of-list
                li.instruction-text To select your answer, click on the radio button given before the options.            
                li.instruction-text To deselect your chosen answer, click on the button of the chosen option again.
                li.instruction-text 
                    span To save your answer, you must click on the 
                    b Save & Next 
                    span button.   
    .row
        .col-md-12(style="text-align:center;color:green;border-top:1px dotted rgba(128, 128, 128, 0.59); border-bottom:1px dotted rgba(128, 128, 128, 0.59); margin:30px 0px; 15px 0px;")
            h4 
                span All The Best &nbsp;
                i.fa.fa-thumbs-o-up(aria-hidden='true')                                                            
    .row.btn-pos
        md-button.md-raised.savedata-btn(type='submit', data-ng-click='testQuestionInstructionCtrl.startTest()') Start Practice Test
