.email-confirmation-page
    .row
        .col-sm-offset-4.col-sm-6.loader-position
            div(asm-component-loader)
        .col-sm-2
    .row
        .col-sm-offset-2.col-sm-6
            h3 Congratulations, Your signup process has been completed.
        .col-sm-4    