.admin-user{
    .search-department{
     float: right;
     margin-top: 30px;
     margin-right: 2px;
    }
    .dept-search-box{
     float: right;
     margin-top: auto;
     margin-right: 2px;
    }
    .departments-details{

     margin-top:40px;
    }
    .add-department-btn{
     margin-top:-6px;
     border-radius:0px;
     float:right;
    }
    .btn-department-icon{
     margin:2px;
     padding:0px;
    }
    .dept-icon{
     margin:12px;
     text-align:center;
    }
    .company-setting-icon{

     float:right;
    }

    .admin-user-pagination{
     margin-top:-10px;
    }
    
    .pagination {
    float: left;
    }
    
}
.user-department-popup{
  //margin-top: 20px;
  .multiple-skill.ui-select-container {
    border-radius: $global-radius;
  }
}

.showMe {
    display: none;
 }
 
 .showColumn {
    display: block;
  }

@media only screen and (max-width: 480px) {
  .showMe {
    display: block;
  }
  .showColumn {
    display: none;
  }
}
