header.main-header
  .col-xs-6.col-sm-3.col-md-2
    .logo(data-ng-if='appHeaderCtrl.isLoggedIn || isLoggedIn')
      a(data-ui-sref='app.dashboard', data-ng-if='appHeaderCtrl.isLoggedIn && appHeaderCtrl.user.userRoles != 5')
        img(data-ng-if='appHeaderCtrl.isLoggedIn  && appHeaderCtrl.user.userRoles != 5', ng-src='{{companyLogoPath}}', alt='Company Logo', style='height:55px !important; width:200px !important;margin-top:-10px')
      a(data-ui-sref='candidateProfile.home', data-ng-if='appHeaderCtrl.isLoggedIn && appHeaderCtrl.user.userRoles == 5')
        img(data-ng-if='appHeaderCtrl.isLoggedIn  && appHeaderCtrl.user.userRoles == 5', src='../../../public/img/logo-oda.png', alt='')
  .col-xs-2.col-sm-6.col-md-6
    .row(data-ng-if='(appHeaderCtrl.isLoggedIn || isLoggedIn) && !appHeaderCtrl.isComparePath')
      nav.navbar.navbar-default(role='navigation', data-ng-if='appHeaderCtrl.isLoggedIn || isLoggedIn')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collection of nav links and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li#headerLi1(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles == 1')
              a(data-ui-sref='app.dashboard') Dashboard
            li#headerLi2(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles == 7')
              a(data-ui-sref='sa.home') Dashboard
            li#headerLi3(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles== 1 || appHeaderCtrl.user.userRoles == 7')
              a(data-ui-sref='app.position') Positions
            li#headerLi4(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles== 1 || appHeaderCtrl.user.userRoles == 7')
              a(data-ui-sref='app.candidate-review') Candidates
            li#headerLi5(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles== 1 || appHeaderCtrl.user.userRoles == 7')
              a(data-ui-sref='app.analytics') Analytics
            li#headerLi6(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles == 4')
              a(data-ui-sref='app.evaluator-dashboard') Dashboard
            li#headerLi7(ui-sref-active="active", data-ng-if='appHeaderCtrl.user.userRoles == 4')
              a(data-ui-sref='app.candidate-review') Candidates
            li#headerLi8(ui-sref-active="active")
              a(data-ng-if='appHeaderCtrl.user.userRoles == 1', data-ui-sref='conference.conference-home({parType : 1})') Conference
            li#headerLi9(ui-sref-active="active")
              a(data-ng-if='appHeaderCtrl.user.userRoles == 5', data-ui-sref='candidateProfile.home') My Profile
  .col-xs-4.col-sm-3.col-md-4.dropdown
    .user-login(data-ng-hide='appHeaderCtrl.isLoggedIn || isLoggedIn')
      a.small-logo(href='javascript:void(0)')
        img(src='../../../public/img/small-logo.png', alt='user logo')
    .user-settings(data-ng-if='appHeaderCtrl.isLoggedIn || isLoggedIn')
        div.pull-right(layout='row')
            span.notification-box(data-ng-if='!appHeaderCtrl.isComparePath')
                header-notification-component
            .user-logo
                img.user-image(data-ng-show='appHeaderCtrl.isLoggedIn', ng-src='{{profilePicPath}}', alt='user logo')
            .name-section
                #menu1.profile-name.dropdown-toggle(data-toggle='dropdown')
                    span(data-ng-show='isLoggedIn', data-toggle='collapse', data-target='#settings-content') {{user.fullName}}
                        span.caret
                //#menu1.user-logo.dropdown-toggle(data-toggle='dropdown')
                    img.user-image(data-ng-show='appHeaderCtrl.isLoggedIn', ng-src='{{profilePicPath}}', alt='user logo', style='height: 55px !important; margin-top:-10px; width: 55px !important;border:none;outline:none;', data-toggle='collapse', data-target='#settings-content')
                ul.settings-content.dropdown-menu(role='menu', aria-labelledby='menu1')
                    h5
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 1')  ADMIN
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 2')  CO-ADMIN
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 3')  INTERVIEWER
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 4')  EVALUATOER
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 5')  CANDIDATE
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 6')  RECRUITER
                      i(data-ng-if='appHeaderCtrl.user.userRoles == 7')  SUPER ADMIN
                    li(data-ui-sref='settings.general-settings')
                      i.fa.fa-cog(aria-hidden='true')
                      | Settings
                    li(data-ng-click='appHeaderCtrl.doLogout()', style='color:red;')
                      i.fa.fa-power-off(aria-hidden='true')
                      | Logout
