.candidate-credentials-super-admin
    .modal-header.dashboard-profile-heading
        button.close(type='button', data-ng-click='close()') ×
        h4.modal-title(data-ng-show='candidateCredentialsCtrl.IsAdd') Add Credentials
        h4.modal-title(data-ng-show='candidateCredentialsCtrl.IsEdit') Update Credentials
    .modal-body
        form(role='form', name='candidateCredentialsCtrl.credentialForm', autocomplete = "false", novalidate='novalidate')
            .form-group.row
                .col-xs-12.col-sm-12.col-md-12
                    md-input-container.md-block(flex="100")   
                        label Official Email Id
                        input(type='text', name='candidateOfficialEmail', maxlength='50', data-ng-model='candidateCredentialsCtrl.candidateOfficialEmail',placeholder= "E-mail" data-ng-blur='candidateCredentialsCtrl.isInvalidEmail(candidateCredentialsCtrl.candidateOfficialEmail)', data-ng-keypress='candidateCredentialsCtrl.isInvalidEmail(candidateCredentialsCtrl.candidateOfficialEmail)', data-ng-keyup='candidateCredentialsCtrl.isInvalidEmail(candidateCredentialsCtrl.candidateOfficialEmail)' required='required')
                        span.error-msg(data-ng-if='candidateCredentialsCtrl.errormessage !== ""') {{candidateCredentialsCtrl.errormessage}}
            .form-group.row
                .col-xs-12.col-sm-12.col-md-12
                    md-input-container.md-block(flex="100", ng-if ="!candidateCredentialsCtrl.showPassword")   
                        label Official Password
                        input(type='password', name='candidateOfficialPassword', readonly onfocus="this.removeAttribute('readonly')", data-ng-model='candidateCredentialsCtrl.candidateOfficialPassword',placeholder = "Password" minlength="6", maxlength="15", data-ng-blur='candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)', data-ng-keypress="candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)", data-ng-keyup="candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)",required)
                        md-icon.src-icon(md-font-set='fa')
                            span
                                i.fa.fa-eye(uib-tooltip='Show Password',aria-hidden= "true", ng-click="candidateCredentialsCtrl.togglePassword()")
                        span.error-msg(data-ng-show='candidateCredentialsCtrl.credentialForm.$submitted || candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$touched')
                            span(data-ng-show='candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$dirty && candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$invalid')
                            span.error-msg(data-ng-show='candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$error.required') Please Enter Password.
                            p.error-msg(data-ng-if='!candidateCredentialsCtrl.isPasswordRight') Password Should Contain Atleast 6 And Maximum 15 Characters That Contains At Least One Lowercase And One Uppercase Character And One Special Character And One Number.
                    md-input-container.md-block(flex="100", ng-if ="candidateCredentialsCtrl.showPassword")   
                        label Official Password
                        input(type='text', name='candidateOfficialPassword', data-ng-model='candidateCredentialsCtrl.candidateOfficialPassword', placeholder = "Password", minlength="6", maxlength="15", data-ng-blur='candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)', data-ng-keypress="candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)", data-ng-keyup="candidateCredentialsCtrl.analyzePassword(candidateCredentialsCtrl.candidateOfficialPassword)",required)
                        md-icon.src-icon(md-font-set='fa')
                            span
                                i.fa.fa-eye(uib-tooltip='Hide Password',aria-hidden= "true", ng-click="candidateCredentialsCtrl.togglePassword()")
                        span.error-msg(data-ng-show='candidateCredentialsCtrl.credentialForm.$submitted || candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$touched')
                            span(data-ng-show='candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$dirty && candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$invalid')
                            span.error-msg(data-ng-show='candidateCredentialsCtrl.credentialForm.candidateOfficialPassword.$error.required') Please Enter Password.
                            p.error-msg(data-ng-if='!candidateCredentialsCtrl.isPasswordRight') Password Should Contain Atleast 6 And Maximum 15 Characters That Contains At Least One Lowercase And One Uppercase Character And One Special Character And One Number.
    .modal-footer
        .form-group.row
        .col-xs-12.col-sm-6.col-md-6
            label
        .col-xs-12.col-sm-6.col-md-6
            md-button.md-raised.md-primary(aria-label="save", type='button', data-ng-click='candidateCredentialsCtrl.addCandidateCredentials()', data-ng-show='candidateCredentialsCtrl.IsAdd') Add
            md-button.md-raised.md-primary(aria-label="save", type='button', data-ng-click='candidateCredentialsCtrl.updateCandidateCredentials()', data-ng-show='candidateCredentialsCtrl.IsEdit') Update
            md-button.md-raised.canceldata-btn(aria-label="save", type='button', data-ng-click='close()') Close
