#line-chart
  .panel.panel-default
    .panel-heading Cpu Usage
    .panel-body
      canvas#line.chart.chart-line.ng-isolate-scope(chart-data='cpuUsageCtrl.data', chart-labels='cpuUsageCtrl.labels', chart-click='cpuUsageCtrl.onClick', chart-hover='cpuUsageCtrl.onHover', chart-series='cpuUsageCtrl.series', chart-options='cpuUsageCtrl.options', chart-dataset-override='cpuUsageCtrl.datasetOverride', width='523', height='261', style='display: block; width: 523px; height: 261px;')
