section#reactive
  .panel.panel-default
    .panel-heading Network Traffic
    .panel-body
      canvas#tables.chart.chart-line.ng-isolate-scope(chart-data='networkTrafficCtrl.data', chart-options='networkTrafficCtrl.options', chart-labels='networkTrafficCtrl.labels', chart-colors='colors', width='523', height='261', style='display: block; width: 523px; height: 261px;')

