.content-wrapper.notification.super-admin
  .row
        .col-md-12
          .notification
            span.notification-heading Notification
  .panel.panel-default
    .panel-heading.dashboard-profile-heading Notification
    .panel-body
        table.table.table-hover
          thead
            tr
              th
              th.delete.icon
              th Notification
              th Date
          tbody
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
               a
                i.fa.fa-bell-slash-o(aria-hidden='true')
                |  One New Project Created
              td 10/10/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-bell-slash-o(aria-hidden='true')
                  |  Two New Project Created
              td 07/09/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                 i.fa.fa-users(aria-hidden='true')
                  |  One New Client Registered
              td 06/05/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-users(aria-hidden='true')
                    |  Two New Clients Registered
              td 25/06/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-user(aria-hidden='true')
                    | One New Developer Added
              td 05/08/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-user(aria-hidden='true')
                    |  Two  New Developer Added
              td 04/08/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a Shubham Namdev Updated JOB 2
              td 01/07/2015
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-bell-slash-o(aria-hidden='true')
                    |  New Clients  Registered
              td 14/07/2016
            tr
              td
                input(type='checkbox')
              td
                a.i.fa.fa-trash-o(aria-hidden='true')
              td
                a
                  i.fa.fa-bell-slash-o(aria-hidden='true')
                    |  One New Project Created
              td 20/05/2016
        a.btn.btn-primary(href='javascript:void(0)')
          i.fa.fa-trash(aria-hidden='true')
           | &nbsp
          span Delete


