.content-wrapper.technical-statics-super-admin
  .row
    .col-md-12
      .technical-statics
        span.technical-statics-heading Technical Statistics
  .panel.panel-default
    .panel-heading.dashboard-profile-heading Technical Statistics
    .panel-body
        .row.technical-statics-search
            .col-md-offset-9.col-md-3.col-sm-6.col-xs-10
                .input-group
                  input.form-control.dept-search-box(type='text', placeholder='Search Here')
        .row
            .col-md-12
                .col-md-5
                  load-average
                .col-md-5
                  cpu-usage
                .col-md-2
                  h4
                    | Memory Usage
                  table.table.table-hover
                      thead
                        tr
                      tbody
                        tr
                          td Physical
                          td 3.019MB
                        tr
                          td Swap
                          td 0MB
                        tr
                          td Total
                          td 3.019MB
        .row
            .col-md-12
                .col-md-5
                  network-traffic
                .col-md-5
                  disk-input-output
                .col-md-2
                  h4
                    | Disk I/O Utilization
                  table.table.table-hover
                    thead
                      tr
                    tbody
                      tr
                        td SDS
                        td 0%
        .row
            .col-md-12
                .col-md-5
                  memory-usage
                .col-md-5
                  disk-usage
                .col-md-2
                  h4
                    | Disk Usage
                  table.table.table-hover
                    thead
                      tr
                    tbody
                      tr
                        td var
                        td 59%
                      tr
                        td Tv
                        td 12%
                      tr
                        td Tech
                        td 29%


