.content-wrapper.ticketing-system-super-admin
  .row
    .col-xs-12.col-sm-12.col-md-12
      .ticketing
        span.ticketing-heading Ticketing System
  .panel.panel-default
    .panel-heading.dashboard-profile-heading Ticketing System
    .panel-body
      ul.nav.nav-tabs
        li#customQuestionLi.active
          a(data-toggle='tab', href='#userissue',ng-click='ticketingSystemCtrl.setUserType(1)') Company
        li#templateLi
          a(href='#userissue', data-toggle='tab',ng-click='ticketingSystemCtrl.setUserType(2)') Candidate
      .tab-content.ticket-tab-position
        #userissue.tab-pane.fade.in.active
          md-progress-circular(md-mode="indeterminate" ng-show="ticketingSystemCtrl.isLoading")
          .panel-body.body-of-panel(ng-show="!ticketingSystemCtrl.isLoading")
            .row(data-ng-show='ticketingSystemCtrl.ticketListCount == 0')
              .col-md-12
                .alert.alert-success.candidate-data-info No Data Found
            .row.filter-label-position(data-ng-if='ticketingSystemCtrl.ticketListCount !== 0')
              .col-xs-12.col-sm-6.col-md-4
                md-input-container.md-block.position-search-continer(flex="100")
                  label.position-search-lebel Search...
                  input(type='text', ng-model='ticketingSystemCtrl.ticketTableFilter.search')
                  md-icon.position-search(md-font-set='fa') &#xf002
                //- .input-group.stylish-input-group
                //-   input.form-control(type='text', placeholder='Search', ng-model='ticketingSystemCtrl.ticketTableFilter.search')
                //-   span.input-group-addon
                //-     button(type='submit')
                //-       span.glyphicon.glyphicon-search
              .col-xs-12.col-sm-6.col-md-3
                md-input-container.md-block(flex-gt-sm='')
                  label Duration
                  md-select(ng-model='ticketingSystemCtrl.duration', data-ng-change='ticketingSystemCtrl.getdurationData()')
                    md-option(value='All', data-translate='All')
                    md-option(value='1week', data-translate='LAST-WEEK')
                    md-option(value='1month', data-translate='LAST-MONTH')
                    md-option(value='3month', data-translate='LAST-THREE-MONTH')
                    md-option(value='6month', data-translate='LAST-SIX-MONTH')
              .col-xs-12.col-sm-6.col-md-3
                md-input-container.md-block(flex="100")
                  label Select Company
                  md-select(data-ng-model='ticketingSystemCtrl.id', name='companyName', data-ng-change='ticketingSystemCtrl.getCompanyData()', md-on-close="ticketingSystemCtrl.clearSearchActiveCompany()", data-md-container-class='selectdemoSelectHeader')
                    md-select-header.demo-select-header
                      input.demo-header-searchbox.md-text(ng-model='ticketingSystemCtrl.searchActiveCompany', type='search', placeholder='Search Company', ng-keydown="$event.stopPropagation()")
                    md-optgroup(label='Company')
                    md-option(ng-value='company.id', data-ng-repeat='company in ticketingSystemCtrl.companyList | filter: ticketingSystemCtrl.searchActiveCompany') {{company.name}}
              .col-xs-12.col-sm-6.col-md-2
                md-input-container.md-block(flex-gt-sm='')
                  label Priority
                  md-select(name='priority', ng-model='ticketingSystemCtrl.priority', data-ng-change='ticketingSystemCtrl.getPriorityFilter()')
                    md-option(value='All') All
                    md-option(value='1') High
                    md-option(value='2') Medium
                    md-option(value='3') Low
                   // md-option(ng-repeat='priorityType in ticketingSystemCtrl.priorityTypeList', value='{{priorityType.id}}') {{priorityType.name}}
                //select.form-control(name='priority', ng-model='ticketingSystemCtrl.priority', ng-options='priorityType.id as priorityType.name for priorityType in ticketingSystemCtrl.priorityTypeList', data-ng-change='ticketingSystemCtrl.getPriorityFilter()')
                  option(selected='selected', data-translate='All')
                // a(data-asm-modal='ticketingSystemModal', btn-class='btn btn-primary add-issue-btn') Add Issue Ticket
            .row(data-ng-show='ticketingSystemCtrl.ticketListCount > 0')
              .col-sm-4.col-md-4.col-xs-12.showMe
                select(class="selectpicker" ng-model="ticketingSystemCtrl.test" ng-change="ticketingSystemCtrl.toggle()")
                  option(ng-model="col.show" value="{{$index}}" ng-repeat="col in ticketingSystemCtrl.cols.slice(1,ticketingSystemCtrl.cols.length) track by $index") {{col.title()}}
              .col-md-12.col-sm-12.col-xs-12
                  p.text-label(ng-hide='ticketingSystemCtrl.ticketList.length < 1') Showing 
                    span
                      strong 1-{{ticketingSystemCtrl.ticketList.length}}
                      |  of  
                      strong
                        {{ticketingSystemCtrl.ticketListCount}}    
                      |  records     
              .main-table-area
                .table-responsive
                  table.table.table-condensed.table-bordered.table-striped.active-clients-table(ng-table='ticketingSystemCtrl.ticketTableParams', ng-table-columns-binding="ticketingSystemCtrl.cols")
                    tr(ng-repeat-start='ticket in $data')
                      td(ng-if="true" title="'Actions'")
                        a.hover-pointer(btn-class='ticket-view-btn', data-toggle='modal', data-target='#viewModal', data-ng-click='ticketingSystemCtrl.viewIssue(ticket)')
                          i.fa.fa-eye
                        a.icon-position(data-toggle='modal', data-target='#viewCommentModal', data-ng-click='ticketingSystemCtrl.setSelectedTicket(ticket)')
                          i.fa.fa-comment.comment-icon
                      td(ng-if="true" title="'Ticket Id'", sortable="'ticketCode'", ng-data='ticket.ticketCode') {{ticket.ticketCode}}
                      //td(title="'Ticket Description'", filter="{ description: 'text'}", sortable="'description'", ng-data='ticket.description', class-name='table-accordian') {{ticket.description | limitTo: 10}}
                      td(ng-if="true"  title="'Created By'", sortable="'firstName'", ng-data='ticket.firstName') {{ticket.firstName}} {{ticket.lastName}}
                      td(ng-if="true"  title="'Date'", sortable="'createdAt'", ng-data='ticket.createdAt', class-name='table-accordian') {{ticket.createdAt | date:'dd/MM/yyyy'}}
                      td(ng-if="true"  title="'Ticket Type'",  sortable="'ticketType'", ng-data='ticket.ticketType', class-name='table-accordian') {{ticket.ticketType}}
                      td(ng-if="true"  title="'Ticket Priority'", sortable="'ticketPriority'", ng-data='ticket.ticketPriority', class-name='table-accordian')
                        span(data-ng-if="ticket.ticketPriority === '1' ") High
                        span(data-ng-if="ticket.ticketPriority === '2' ") Medium
                        span(data-ng-if="ticket.ticketPriority === '3' ") Low
                      td(ng-if="true"  data-title="'Attachment'", sortable="'attachment'", ng-data='ticket.ticketDocuments')
                        span(ng-repeat='document in ticket.ticketDocuments track by $index')
                          div
                            a.attachment-position(href='{{document.locationUrl}}', target='_blank') attachment_{{$index + 1}}
                      td(ng-if="true"  title="' Company Name'", sortable="'company'", ng-data='ticket.company', class-name='table-accordian') {{ticket.company}}
                      // td(title="'Assigned'", filter="{ assign: 'text'}", sortable="'assign'", ng-data='ticket.assign',  class-name='table-accordian') {{ticket.assign}}
                      // td(title="'Reassigned'", filter="{ reassigned: 'text'}", sortable="'reassigned'", ng-data='ticket.reassigned', class-name='table-accordian') {{ticket.reassigned }}
                      td(ng-if="true" title="'Status'", sortable="'status'", ng-data='ticket.status', class-name='table-accordian') {{ticket.status }}
                    tr(ng-repeat-end='ng-repeat-end')
            //- .row(data-ng-show='ticketingSystemCtrl.ticketListCount == 0')
            //-   .col-md-12
            //-     .alert.alert-success.candidate-data-info No Data Found
    #viewModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title View Ticket Details
          .modal-body
            table
              tbody
                tr
                  td.col-sm-6
                    label Ticket Id :
                  td.col-sm-6  {{ticketingSystemCtrl.ticketId}}
                tr
                  td.col-sm-6
                    label Ticket Type :
                  td.col-sm-6  {{ticketingSystemCtrl.ticketType}}
                tr
                  td.col-sm-6
                    label Issue :
                  td.col-sm-6  {{ticketingSystemCtrl.issue}}
                tr
                  td.col-sm-6
                    label Description :
                  td.col-sm-6 {{ticketingSystemCtrl.description}}
    #viewCommentModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content          
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title {{ticketingSystemCtrl.selectedTicket.ticketCode}}({{ticketingSystemCtrl.selectedTicket.status}})
          .modal-body
              div
                p Issue Description :{{ticketingSystemCtrl.selectedTicket.description}}
                .conversation
                  h4 Comments :
                  .row
                    .col-md-offset-2.col-md-10(data-ng-repeat="ticketComment in ticketingSystemCtrl.ticketCommentList")
                      b {{ticketComment.user.fullName}} :
                      span {{ticketComment.comment}}
                      br
                      | {{ticketComment.createdAt | date:'MM/dd/yyyy HH:mm:ss'}}
                form(name='commentForm')
                  .form-group
                    .row
                      label.comment-label.col-sm-3( data-translate='COMMENT')
                        span.mandatory-field *
                    .row
                      .col-sm-12
                        textarea.form-control.comment-textBox(name='comment' ,data-ng-model='ticketingSystemCtrl.comment',rows='6', col='5', maxlength='1000', style='max-width:539px;max-height:100px;')
                  .form-group
                    label Status
                    select.form-control#ddlQuestionType(ng-model='ticketingSystemCtrl.selectedStatus', ng-options='status.statusId as status.statusName for status in ticketingSystemCtrl.statusList',  name='statusType')
                      option(selected='select Status')
          .modal-footer            
            md-button.md-raised.md-primary(type='button', data-ng-click='ticketingSystemCtrl.createComment()',data-dismiss='modal') Save
            md-button.md-raised.md-primary(type='button',data-dismiss='modal') Close


