.my-profile {

  .manage-profile-heading{
    display: block;
    padding: 10px;
    text-decoration: none !important;
    position: relative;
    background: linear-gradient(to bottom, $navColor 0%, $navDarkColor 46%, $navDarkColor 46%, $navDarkerColor 100%);
  }
  .create-profile-button {
    margin-top: -38px;
    margin-right: 25px;
    text-transform:uppercase;
  }

  .errormsg {
    font-size:12px;
    color: red;
    padding: 6px 0 0 50px;
  }

  
a:hover{
  text-decoration:none;
  }
 @media only screen and (max-width: 780px) {
    .manage-profile-panel{
        margin-top:40px;
    }
   }
}