.video-intro-container {
    .no-video-msg{
        text-align: center;
    }
    .error-msg{
        color: red;
        font-size:12px;
    }
    .wallet-section{
        font-size: 14px;
        font-weight: 600;
        .wallet-title{
            .badge{
                background-color:#4CAF50;
            }
        }
    }
    .pointer{
        cursor:pointer;
    }
    .sharable-link{ 
        padding: 4px !important;
        text-align: justify !important;
        margin-bottom: 10px;
        height: auto;
        overflow:auto;
        border:1px solid #ddd;
    }
    .link-width{
        overflow-wrap: break-word;
        color: $mediumDarkGrey;
    }
    .tab-content #home{
      text-align: center;
    }
    .youtube-area{
      i{
        color:#e62117;
      }
    }
    .tab-content {
        //text-align: center;
        border: #0078f0 1px solid;
        padding: 10px;
        height:235px;
        margin-top: -2px;
        width: 100%;
        overflow: hidden;
        border-top: transparent;
    }
    .tab-content-height{
        text-align: center;
        border: #0078f0 1px solid;
        padding: 10px;
        margin-top: -2px;
        width: 100%;
        overflow: hidden;
        border-top: transparent;
        min-height: 235px!important;
    }
    .text-box{
        text-align: center;
    }
    .nav-tabs {
        margin-bottom: 0;
        border-bottom:#0078f0 1px solid;
    }
    .nav-tabs > li.active  {
        border: #0078f0 1px solid;
        border-bottom:none;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
        margin-right:0;
        border-radius:0;
        cursor: pointer;
    }

    #candidateprofile-countdown-img {
      position: absolute;
      margin-left:100px;      
    }
    .btn-3 {
        margin-left: 15px;
    }
    .link-box{
    float: right;
    //margin-top: -60px;
    //margin-bottom: 25px;
    //margin-right: -25px;
    }
    .text-box-copy{
        padding-right: 0px !important;
        //width: 375px;
    }
/*    .recording-controls{
        .fa{
            border-color: #286090;
            background-color: #286090; 
        }
    }*/
    .link-copy-box{
        margin-top: 5px;
        padding: 5px 0px !important;
    }
    .link-copy-btn{
        border: none;
        background-color: white;
        margin-left: 5px;
        padding: 0px 0px !important;         
    }
    .recording-controls {
        .fa {
            color: #286090;
            cursor: pointer;
        }
        .fa:hover{
            color: #286090;
        }
    }
    #priv {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: $global-radius;
        border: 1px solid #ddd;
        padding:10px;
        margin-left: 8px;
    }
    .upload-btn.btn.btn-primary {
        border-radius: none;
        background: $blue;
        color:$white;
        margin-left:5px;
        position: absolute;
        top: 0;
        right: -11px;
        width: 100%;
        text-align: center;
        height: 35px;
    }
    .panel-default {
        border-radius: $global-radius;
    }
    .video-intro {
        margin-top: 25px;
    }
    .basic-details {
        .table-bordered {
            table > tbody > tr > td {
                font-size: $font-size-small;
            }
        }
    }
    .video-iframe-sec {
        width: 100%;
        min-height: 600px;
      //  max-height: 650px;
        float: right;
        background: $lightGrey;
        border: $lightestGrey 5px  groove;

    }
    .box{
            margin-left: -10px;
    }
    .on-record{
        width: 60px;
        height: 40px;
    }
    .last-recorded{       
        text-align: center;       
    }
    .video-iframe-sec iframe {
    width: 100%;
    height:450px;
    }
    .video-iframe-sec video {
        margin-left: -1px;
        width: 100%;
        height:450px;
    }

    .recording-controls {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        margin-left: -44px !important;
        .btn-default {
            width: 180px;
            border-radius: $global-radius;
            background: $blue;
            color:$white;
        }
    }
    .mid-section {
        margin-left: -44px !important;
        margin-top:20px;
        .btn {
            min-width:100%;
            border-radius:$global-radius;
            background: $blue;
            color:$white;
            padding-left: 23px;
            padding-right: 23px;
        }
        .fa {
            margin-left:5px;
        }
    }
    .welcome-video .video-upload-sec {
        margin-left: -12px !important;
        margin-top: 64px !important;
        margin-bottom: 10px;
    }
    .third-button-section {
        margin-top: -15px;
        .btn {
            width:100%;
            border-radius: $global-radius;
        }
        .fa {
            margin-left:5px;
        }
    }
    .sharedEmailBox{
       // border: 2px solid #ccc;
        //border-top: transparent !important;   
    }
    .email-box{
        font-weight: 600;
    }
    .id-box{
        color: $mediumDarkGrey;
    }
    .red-cross{
        color: red;
        font-size: 20px;
        float: right !important;
    }
    .choose-options {
        background: #ededed;
        margin-left:-15px;
    }
    .choose-options .panel-heading {
        background: linear-gradient(to bottom, $navColor 0%, $navDarkColor 46%, $navDarkColor 46%, $navDarkerColor 100%);
        color: #ffffff;
        padding:0;
    }
    .choose-options .panel-body {
        background: #fcfcfc none repeat scroll 0 0;
        padding: 10px 0px 15px;
        text-align: -webkit-auto;
    }
    .choose-options .panel-title i {
        font-size: 22px;
        line-height: 18px;
    }
    .accordion-toggle {
        display: block;
        padding: 10px 20px;
    }
    .choose-options .panel-group .panel-heading {
        border-bottom: 0 none;
        border-radius: 0;
    }
    .choose-options .panel-group .panel-heading + .panel-collapse > .list-group,
    .choose-options .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-top: 0px solid #dddddd;
    }
    .choose-options .panel {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        border-radius: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        margin: 0;
        padding: 0;
    }
    .form-control {
        border-radius: $global-radius;
    }
    .typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
        font-size: 30px;
        font-weight: 300;
    }
    .btn-sm {
        border-radius: $global-radius;
        .fa{
            margin-left:5px;
        }
    }
    .edit-icon{
        color: white;
        border-radius: 50%;
        border-style: double;
        border-width: 4px;
        border-color:lightgrey;
        padding:7px;
        font-size:20px;
      //  background: -webkit-linear-gradient($blue, $desatDarkBlue); /* For Safari 5.1 to 6.0 */
        background: -moz-linear-gradient($blue, $desatDarkBlue); /* For Firefox 3.6 to 15 */
        background: -webkit-linear-gradient($blue, $desatDarkBlue); /* For Safari 5.1 to 6.0 */
    }

    .countDownBox{
        height: 300px;
        width: 280px;
        min-width:300px;
    }

    @media only screen and (max-width: 500px) {
        .sharable-link {
            height:auto;
        }
    }

    @media only screen and (max-width: 500px){ 
        .third-button-section {
          .fa {
            margin-left:-5px;
          }
        }
        
    }
    .you-tube-icon{
        font-size:25px;
    }
    .welcome-video .upload-btn span{
        margin:3px 3px 0px 0px;
    }
    @media only screen and (max-width: 780px) {
        .video-intro-panel{
            margin-top:40px;
        }
    }

    .record-video{
        font-size:20px;
    }
    .record-row{
        //margin-top:10px;

    }
    .shareable-tabs{
        margin-top: 25px;
    }
    .record-row-1{
        margin-top: 30px;
        .input-group{
          margin-top:6px;
        }
      input[type=file] {
        padding: 5px;
        height: 37px;
        width: 100%;       
        border:1px solid $mediumDarkGrey;
  }
  
  input[type=file]::before {
    content: '+';
    color: #fff;
    background: #3f51b5;
    margin-top: 0px;
    margin-left: 225px;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 0px;
    font-size: 18px;
}
    }
    .input-area{  
        margin-left: -20px;
        margin-top: 30px;
        margin-bottom: 20px;
        i{
          margin-left: -25px;
        }
    }
    .video-intro-heading{
        font-size:$font-size-large;
        width:100%;
        margin-bottom: 15px;
        margin-left: -1px;
        padding: 0px 10px 5px 10px;
        .video-intro-1{
            margin-left:10px;
            text-transform: uppercase;
            color:#333;
        }
    }
    .last-button-section{
        margin-top:30px;
    }
    .step-1{
        font-weight:900;
        color:$mediumDarkGrey;

    }

    .share-view-icon{
        color: #0C68A6;
        font-size: 29px;
    }
    .share-view-text{
        color:$mediumDarkGrey;
        font-size: 14px;
        margin-bottom: 29px;
    }
    .help{
        font-weight:600;
        color:$mediumDarkGrey;
    }
    .optional{
        color:#0C68A6;
    }
    .note{
        margin-top:15px;
        font-weight: 400;
    }
    .upload-text{
        //margin-top: 50px;
    }

}
    .content-wrapper{
      background:$white;
    }

video::-internal-media-controls-download-button {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden !important;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}


@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (-webkit-min-device-pixel-ratio: 3) {
  .content-wrapper.video-intro-container{    
    .record-row-1{  
      input[type=file]::before {
        margin-left: 170px;
      }
    }
  }
}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  .content-wrapper.video-intro-container{
    margin-top:0px;
    #candidateprofile-countdown-img {
      margin-left:0px;
      width:280px;
    }
    .record-row-1{  
      input[type=file]::before {
        margin-left: 110px;
      }
    }    
  }
  .content-wrapper.view-profile-page{
     margin-top:0px;
  }
  .content-wrapper.certification-container.padding-mobile{
     margin-top:0px;
  }
  .content-wrapper.practice-video-contanier{
     margin-top:0px;
  }
  .content-wrapper.interview-request-container{
     margin-top:0px;
  }
  .content-wrapper.multi-apply-container{
     margin-top:0px;
  }
  .content-wrapper.my-profile.manage-profile-page{
     margin-top:0px;
  }
  .content-wrapper.cover-letter-container{
     margin-top:0px;
  }
  .content-wrapper.job-openings-container{
    margin-top:0px;
  } 
  .content-wrapper.applied-joblist-container{
    margin-top:0px;
  }
  .content-wrapper.edit-my-profile-page{
    margin-top:0px;
  }
}
@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (-webkit-min-device-pixel-ratio: 2) {
  .content-wrapper.video-intro-container{
    margin-top:0px;
    #candidateprofile-countdown-img {
      margin-left:20px;
    }
    .record-row-1{  
      input[type=file]::before {
        margin-left: 170px !important;
      }
    }
  }
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  .content-wrapper.video-intro-container{
    margin-top:0px;
    #candidateprofile-countdown-img {
      margin-left:20px;
    }
    .record-row-1{  
      input[type=file]::before {
        margin-left: 145px;
      }
    }
  }
  .content-wrapper.view-profile-page{
     margin-top:0px;
  }
  .content-wrapper.certification-container.padding-mobile{
     margin-top:0px;
  }
  .content-wrapper.practice-video-contanier{
     margin-top:0px;
  }
  .content-wrapper.interview-request-container{
     margin-top:0px;
  }
  .content-wrapper.multi-apply-container{
     margin-top:0px;
  }
  .content-wrapper.my-profile.manage-profile-page{
     margin-top:0px;
     .col-xs-12{
       padding-left:0px;
       padding-right:0px;       
     }
  }
  .content-wrapper.cover-letter-container{
     margin-top:0px;
  }
  .content-wrapper.job-openings-container{
    margin-top:0px;
  } 
  .content-wrapper.applied-joblist-container{
    margin-top:0px;
  }
  .content-wrapper.edit-my-profile-page{
    margin-top:0px;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  .content-wrapper.video-intro-container{    
    .record-row-1{  
      input[type=file]::before {
        margin-left: 170px;
      }
    }
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */


