#popover-control
  .form-group
    table(style='padding:5px;', cellpadding='7', cellspacing='7')
      tr
        td
          i.fa.fa-child.fa-lg.margin-10-5(aria-hidden='true')
        td Pass presenter role
      tr
        td
          i.fa.fa-share-alt-square.fa-lg.margin-10-5(aria-hidden='true')
        td Share mouse control
      tr
        td
          i.fa.fa-pencil.fa-lg.margin-10-5(aria-hidden='true')
        td Annotate
      tr
        td
          i.fa.fa-stop-circle-o.fa-lg.margin-10-5(aria-hidden='true')

        td Record
      tr
        td
          i.fa.fa-question-circle-o.fa-lg.margin-10-5(aria-hidden='true')
        td
          .inline-word
            | View all premium feature
      tr
        td
          i.fa.fa-blind.fa-lg.margin-10-5(aria-hidden='true')
        td
          | Exit this meeting


