header.main-header
  .col-md-8.col-sm-8.col-xs-8
  .col-md-4.col-sm-4.col-xs-4
    .user-login
      a.small-logo(data-ui-sref='app.user-login')
        img(src='../../../public/img/small-logo.png', alt='')
