header.main-header
  .col-md-2.col-sm-3.col-xs-5.margin-logo-candidate.desktop-logo
    .logo
      a(data-ui-sref='candidateProfile.home')
        img(src='../../public/img/logo-oda.png', alt='')
  .col-md-7.col-sm-6.col-xs-2.menu-list-candidate
    .row
      nav.navbar.navbar-default(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          // button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
          button.navbar-toggle(type='button', onclick='openNav()')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collection of nav links and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='javascript:void(0)', data-ui-sref='candidateProfile.home') My Profile
  .col-md-3.col-sm-3.col-xs-7.margin-logo-candidate.mobile-logo
    .logo
      a(data-ui-sref='candidateProfile.home')
        img(src='../../public/img/logo-oda.png', alt='')
  .col-md-3.col-sm-3.col-xs-3.dropdown.candidate-section
        .user-login(data-ng-hide='AppCtrl.isLoggedIn || isLoggedIn')
          a.small-logo(href='javascript:void(0)')
            img(src='../../public/img/small-logo.png', alt='user logo')
        .col-md-12.col-sm-12.col-xs-12.user-settings(data-ng-if='AppCtrl.isLoggedIn || isLoggedIn')
          div.pull-right(layout='row')
            span.notification-box
                header-notification-component
            .user-logo.hidden-xs
                img.user-image(ng-src='{{profilePicPath}}', alt='user logo')
            .name-section.hidden-xs
                #menu1.profile-name.dropdown-toggle(data-toggle='dropdown')
                    span(data-ng-show='isLoggedIn', data-toggle='collapse', data-target='#settings-content')
                        span.namespace {{user.fullName.substr(0, 10)}}
                        span.namespace(ng-if='user.fullName.length > 10') ...
                        span.caret
                    .company-name {{user.companyName}}
                ul.settings-content.dropdown-menu(role="menu",aria-labelledby="menu1")
                  h5 
                    i(data-ng-if='user.userRoles == 1')  ADMIN
                    i(data-ng-if='user.userRoles == 2')  CO-ADMIN
                    i(data-ng-if='user.userRoles == 3')  INTERVIEWER
                    i(data-ng-if='user.userRoles == 4')  EVALUATOER
                    i(data-ng-if='user.userRoles == 5')  CANDIDATE
                    i(data-ng-if='user.userRoles == 6')  RECRUITER
                    i(data-ng-if='user.userRoles == 7')  SUPER ADMIN
                  li(data-ui-sref='candidateProfile.general-settings')
                    i.fa.fa-cog(aria-hidden='true')
                    span.text Settings
                  li
                    a.help-block(href='https://jottp.com/help/candidate-profile-help.html',target='_blank')
                     i.fa.fa-question-circle(aria-hidden='true')
                     span.text Help 
                  li( data-ng-click='doLogout()' style='color:red;')
                    i.fa.fa-power-off(aria-hidden='true')
                    span.text Logout
            .name-section.hidden-lg.hidden-md.hidden-sm
                #menu1.dropdown-toggle(data-toggle='dropdown')
                    img.user-image(data-toggle='collapse', data-target='#settings-content', ng-src='{{profilePicPath}}', alt='user logo')
                ul.settings-content.dropdown-menu(role='menu', aria-labelledby='menu1')
                    h5(data-ng-show='isLoggedIn') 
                       .company-name {{user.fullName}} 
                    h5 
                      | {{user.companyName}}
                      i(data-ng-if='user.userRoles == 1')  (Admin)
                      i(data-ng-if='user.userRoles == 2')  (Co-Admin)
                      i(data-ng-if='user.userRoles == 3')  (Interviewer)
                      i(data-ng-if='user.userRoles == 4')  (Evaluater)
                      i(data-ng-if='user.userRoles == 5')  (Candidate)
                      i(data-ng-if='user.userRoles == 6')  (Recruiter)
                      i(data-ng-if='user.userRoles == 7')  (Super Admin)
                      i(data-ng-if='user.userRoles == 8')  (Marketing)
                      i(data-ng-if='user.userRoles == 9')  (Account-Manager-Company)
                      i(data-ng-if='user.userRoles == 10')  (Account-Manager-Candidate)
                      i(data-ng-if='user.userRoles == 11')  (Question Bank Updater)
                      i(data-ng-if='user.userRoles == 12')  (Finance)
                      i(data-ng-if='user.userRoles == 13')  (Tech-Support)
                      i(data-ng-if='user.userRoles == 14')  (Tech-Support-Manager)
                      i(data-ng-if='user.userRoles == 15')  (View)
                      i(data-ng-if='user.userRoles == 16')  (View-Recruiter)
                      i(data-ng-if='user.userRoles == 17')  (View-Admin(
                      i(data-ng-if='user.userRoles == 18')  (Conference-User)
                    li(data-ui-sref='candidateProfile.general-settings')
                      i.fa.fa-cog(aria-hidden='true')
                      span.text Settings
                    li(data-ng-if='user.userRoles == 1 || user.userRoles == 2 || user.userRoles == 6')
                      a.help-block(href='https://jottp.com/help/how_to.html',target='_blank')
                       i.fa.fa-question-circle(aria-hidden='true')
                       span.text Help
                    li.color-logout(data-ng-click='doLogout()')
                      i.fa.fa-power-off(aria-hidden='true')
                      span.text Logout
